



<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1" >
  <!--<ul class="nav navbar-nav navbar-right">
        <li class="dropdown clearfix pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            排序
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu" aris-labelledby="dropdownMenuDivider">
            <li> <%= link_to("按薪资下限排序",jobs_path(:order => "by_lower_bound"))%></li>
            <li> <%= link_to("按薪资上限排序",jobs_path(:order => "by_upper_bound"))%></li>
            <li> <%= link_to("按发表时间排序",jobs_path)%></li>
          </ul>
        </li>

  </ul>  -->


  <span class="pull-right">

    <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>


  </span>
</div>


<div class="container">
<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-default" style="background-color: #f8f8f8;border-color: #e7e7e7;">
        <div class="nav nav-justified navbar-nav">
            <form class="navbar-form navbar-search" role="search">
                <div class="input-group">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-search btn-danger dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="label-icon">Search</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-left" role="menu">
                           <li>
                                <a href="#">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="label-icon">公司名</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <span class="glyphicon glyphicon-book"></span>
                                <span class="label-icon">全文检索</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <input type="text" class="form-control">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-search btn-default">
                        GO
                        </button>

                    </div>
                </div>
            </form>

        </div>
      </nav>
    </div>
</div>
</div>


<div style="margin: 5% 0 0;">
  <%= link_to("最新职位","#",:class => "btn btn-success" ) %>
  <%= link_to("热门职位","#",:class => "btn btn-danger")%>
  <%= link_to("按薪资下限排序",jobs_path(:order => "by_lower_bound"),:class => "btn btn-warning")%>
  <%= link_to("按薪资上限排序",jobs_path(:order => "by_upper_bound"),:class => "btn btn-primary")%>
  <%= link_to("按发表时间排序",jobs_path,:class => "btn btn-info")%>
</div>

<table class="table table-boldered table-striped custab " style="margin: 1px">
  <thead>
    <tr>
      <td> 职位名  </td>
      <td> 公司名  </td>
      <td> 薪  资  </td>
      <td> 工作地点 </td>
      <td> 发布时间 </td>
      <!--<td> &nbsp;</td>--->
    </tr>
  </thead>
  <tbody>
  <% @jobs.each do |job| %>
  <tr>
    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= job.company %>
    </td>
    <td >
     <span class="label label-default ">人民币</span> ¥<%= job.wage_lower_bound %> -¥
    <%=job.wage_upper_bound %>
    </td>
    <td>
        <%= job.place %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
    <!--
    <td>
      <%= link_to("Edit", edit_job_path(job)) %> |
      <%= link_to("Destroy", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>-->


  </tr>
  <% end %>
</tbody>
</table>

<div class="text-center">

  <ul class="pagination" >

    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>

  </ul>

</div>
